<div class="bg-new">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
                <a href="#" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                    <img src="/static/img/logo/logo.png" class="logo" alt="logo" width="100px">
                </a>
            </div>

            <div class="col mb-3">

            </div>

            <div class="col mb-3">
                <h5>Navbar</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary fs-5">Home</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/views/service" class="nav-link p-0 text-body-secondary fs-5"
                            data-bs-toggle="modal" data-bs-target="#loginModal">Service</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/views/structure" class="nav-link p-0 text-body-secondary fs-5"
                            data-bs-toggle="modal" data-bs-target="#loginModal">Structure</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/views/about" class="nav-link p-0 text-body-secondary fs-5"
                            data-bs-toggle="modal" data-bs-target="#loginModal">About us</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#contact" class="nav-link p-0 text-body-secondary fs-5">Contact
                            us</a>
                    </li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>User</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#candidate"
                            class="nav-link p-0 text-body-secondary fs-5">FAQs</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#feature"
                            class="nav-link p-0 text-body-secondary fs-5">Features</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/views/feedback" class="nav-link p-0 text-body-secondary fs-5"
                            data-bs-toggle="modal" data-bs-target="#loginModal">Feedback</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/views/helpline" class="nav-link p-0 text-body-secondary fs-5"
                            data-bs-toggle="modal" data-bs-target="#loginModal">Helpline</a>
                    </li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Community</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/views/admin" class="nav-link p-0 text-body-secondary fs-5"
                            data-bs-toggle="modal" data-bs-target="#adminloginModal">Admin Section</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#community" class="nav-link p-0 text-body-secondary fs-5">Our
                            community</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#candidate" class="nav-link p-0 text-body-secondary fs-5">Our
                            candidates</a></li>
                    <li class="nav-item mb-2"><a href="/views/user_history"
                            class="nav-link p-0 text-body-secondary fs-5" data-bs-toggle="modal"
                            data-bs-target="#loginModal">History</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary g-font1 fw-bold fs-4">
                    <p class="text-white">© 2023 pFe, Inc</p>
                    <p class="text-white">Email: supportpfe@gmail.com<br>Contact: 9302765839</p>
                </span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary white-icon "
                        href="https://www.linkedin.com/in/hariom-singh-rajput/"><img src="/static/img/icon/linkedin.svg"
                            alt="" width="25px"></a></li>
                <li class="ms-3"><a class="text-body-secondary white-icon "
                        href="https://www.facebook.com/profile.php?id=100053355981532"><img
                            src="/static/img/icon/facebook.svg" alt="" width="25px"></a></li>
                <li class="ms-3"><a class="text-body-secondary white-icon " href="https://www.instagram.com/"><img
                            src="/static/img/icon/instagram.svg" alt="" width="25px"></a></li>
                <li class="ms-3"><a class="text-body-secondary white-icon " href="https://www.whatsapp.com/"><img
                            src="/static/img/icon/whatsapp.svg" alt="" width="25px"></a></li>
            </ul>
        </footer>
    </div>
</div>