<div class="fixed-top bg-new">
    <!-- top bar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="/static/img/top-img/bhopal-police.png" alt="" height="60px"">
                <h1 class=" fs-1 g-font1" style="font-weight: bold; color: #efd1a7;">MP Police</h1>
            <img src="/static/img/top-img/G-20.png" alt="" height="60px">
        </div>
    </nav>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="#">
                <img src="/static/img/logo/logo.png" alt="pFe" width="50px" class="logo me-3">
            </a>
            <!-- <a class="navbar-brand" href="index">pFe</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/structure" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Structure</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Info Zone
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="https://www.mppolice.gov.in/sites/default/files/Annual_Administrative_Report_2017-2018.pdf"
                                     data-bs-toggle="modal" data-bs-target="#loginModal">Annual Admin
                                    Report</a></li>
                            <li><a class="dropdown-item" href="/who_is_who" >Who is
                                    Who</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.mppolice.gov.in/sites/default/files/documents/ig-sir-plan-detail.pdf"
                                     data-bs-toggle="modal" data-bs-target="#loginModal">Plans of MP
                                    Police</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.mppolice.gov.in/sites/default/files/stc2020/Statistical-Data-2021.pdf"
                                     data-bs-toggle="modal" data-bs-target="#loginModal">Statistical
                                    Data</a></li>
                            <li><a class="dropdown-item" href="/history" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">History of MP
                                    Police</a></li>
                        </ul>
                    </li>
                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Police Stations
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/views/ab_police_station" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Aishbag Police Station</a></li>
                            <li><a class="dropdown-item" href="/views/ag_police_station" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Ashoka Garden Police Station</a>
                            </li>
                            <li><a class="dropdown-item" href="/views/bg_police_station" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Bairagarh Police Station</a>
                            </li>
                            <li><a class="dropdown-item" href="/views/gn_police_station" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Ghandhi Nagar Police Station</a>
                            </li>
                            <li><a class="dropdown-item" href="/views/gp_police_station" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Govindpura Police Station</a>
                            </li>
                            <li><a class="dropdown-item" href="/views/mpn_police_station" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">MP Nagar Police Station</a></li>
                            <li><a class="dropdown-item" href="/views/rb_police_station" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Ratibarh Police Station</a></li>
                        </ul>
                    </li> --}}

                    {{!-- <label for="policeStationSelect"></label> --}}
                    {{!-- <select class="form-select" id="policeStationSelect" placeholder="Police Stations:">
                        <option value="/views/ab_police_station">Aishbag Police Station</option>
                        <option value="/views/ag_police_station">Ashoka Garden Police Station</option>
                        <option value="/views/bg_police_station">Bairagarh Police Station</option>
                        <option value="/views/gn_police_station">Ghandhi Nagar Police Station</option>
                        <option value="/views/gp_police_station">Govindpura Police Station</option>
                        <option value="/views/mpn_police_station">MP Nagar Police Station</option>
                        <option value="/views/rb_police_station">Ratibarh Police Station</option>
                    </select> --}}



                    <li class="nav-item">
                        <a class="nav-link" href="/about" data-bs-toggle="modal" data-bs-target="#loginModal">About
                            us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact us</a>
                    </li>
                </ul>

                <div class="mx-2">
                    <button class="btn btn-transparent text-light border-0" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Login</button>
                    <button class="btn btn-transparent text-light border-0" data-bs-toggle="modal"
                        data-bs-target="#signupModal">Sign Up</button>
                </div>
            </div>
        </div>
    </nav>

</div>