<div class="fixed-top bg-new">
    <!-- top bar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="/static/img/top-img/bhopal-police.png" alt="" height="60px"">
                    <h1 class=" fs-1 g-font1" style="font-weight: bold; color: #efd1a7;">MP Police</h1>
            <img src="/static/img/top-img/G-20.png" alt="" height="60px">
        </div>
    </nav>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="/user_deshboard">
                <img src="/static/img/logo/logo.png" alt="pFe" width="50px" class="logo me-3">
            </a>
            <!-- <a class="navbar-brand" href="index.html">pFe</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user_deshboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/structure">Structure</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Info Zone
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="https://www.mppolice.gov.in/sites/default/files/Annual_Administrative_Report_2017-2018.pdf">Annual
                                    Admin Report</a></li>
                            <li><a class="dropdown-item" href="/who_is_who">Who is
                                    Who</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="https://www.mppolice.gov.in/sites/default/files/documents/ig-sir-plan-detail.pdf">Plans
                                    of MP Police</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.mppolice.gov.in/sites/default/files/stc2020/Statistical-Data-2021.pdf">Statistical
                                    Data</a></li>
                            <li><a class="dropdown-item" href="/history">History of MP
                                    Police</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/crimeChart">Crime Dashboard</a>
                    </li>
                </ul>
                <a href="/profile"><img src="/static/img/icon/account.svg" class="white-icon" alt="Account"
                        width="40px"></a>
            </div>
        </div>
    </nav>

</div>