    {{!-- <div class="container text-center my-6" id="community">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center justify-content-end p-3 pe-3 text-primary-emphasis bg-light-subtle g-font1 fs-4">
                    Our Community
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/hariom.jpg" alt="H" width="48"
                        height="48">Hariom
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/revi.jpg" alt="R" width="48"
                        height="48">Ravi
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/atul.jpg" alt="A" width="48"
                        height="48">Atul
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/himashu.jpg" alt="H" width="48"
                        height="48">Himanshu
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/aachal.jpg" alt="A" width="48"
                        height="48">Aachal
                </span>
            </div>
        </div>
    </div> --}}
