<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Police Force Engagement</title>
    <link rel="icon" href="/static/img/logo/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos&family=Noto+Serif:wght@700&family=Philosopher&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    <div class="fixed-top bg-new">
        <!-- top bar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img src="/static/img/top-img/bhopal-police.png" alt="" height="60px"">
                <h1 class=" fs-1 g-font1" style="font-weight: bold; color: #efd1a7;">MP Police</h1>
                <img src="/static/img/top-img/G-20.png" alt="" height="60px">
            </div>
        </nav>

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="#">
                    <img src="/static/img/logo/logo.png" alt="pFe" width="50px" class="logo me-3">
                </a>
                <!-- <a class="navbar-brand" href="index">pFe</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/service" data-bs-toggle="modal"
                                data-bs-target="#loginModal">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/structure" data-bs-toggle="modal"
                                data-bs-target="#loginModal">Structure</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Info Zone
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="https://www.mppolice.gov.in/sites/default/files/Annual_Administrative_Report_2017-2018.pdf"
                                        target="_blank" data-bs-toggle="modal" data-bs-target="#loginModal">Annual Admin
                                        Report</a></li>
                                <li><a class="dropdown-item" href="/views/who_is_who" target="_blank">Who is
                                        Who</a></li>
                                <li><a class="dropdown-item"
                                        href="https://www.mppolice.gov.in/sites/default/files/documents/ig-sir-plan-detail.pdf"
                                        target="_blank" data-bs-toggle="modal" data-bs-target="#loginModal">Plans of MP
                                        Police</a></li>
                                <li><a class="dropdown-item"
                                        href="https://www.mppolice.gov.in/sites/default/files/stc2020/Statistical-Data-2021.pdf"
                                        target="_blank" data-bs-toggle="modal" data-bs-target="#loginModal">Statistical
                                        Data</a></li>
                                <li><a class="dropdown-item" href="/views/history" target="_blank"
                                        data-bs-toggle="modal" data-bs-target="#loginModal">History of MP
                                        Police</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Police Stations
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/views/ab_police_station" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">Aishbag Police Station</a></li>
                                <li><a class="dropdown-item" href="/views/ag_police_station" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">Ashoka Garden Police Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/bg_police_station" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">Bairagarh Police Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/gn_police_station" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">Ghandhi Nagar Police Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/gp_police_station" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">Govindpura Police Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/mpn_police_station" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">MP Nagar Police Station</a></li>
                                <li><a class="dropdown-item" href="/views/rb_police_station" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">Ratibarh Police Station</a></li>
                            </ul>
                        </li>

                        {{!-- <label for="policeStationSelect"></label> --}}
                        {{!-- <select class="form-select" id="policeStationSelect" placeholder="Police Stations:">
                            <option value="/views/ab_police_station">Aishbag Police Station</option>
                            <option value="/views/ag_police_station">Ashoka Garden Police Station</option>
                            <option value="/views/bg_police_station">Bairagarh Police Station</option>
                            <option value="/views/gn_police_station">Ghandhi Nagar Police Station</option>
                            <option value="/views/gp_police_station">Govindpura Police Station</option>
                            <option value="/views/mpn_police_station">MP Nagar Police Station</option>
                            <option value="/views/rb_police_station">Ratibarh Police Station</option>
                        </select> --}}



                        <li class="nav-item">
                            <a class="nav-link" href="/views/about" data-bs-toggle="modal"
                                data-bs-target="#loginModal">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact us</a>
                        </li>
                    </ul>

                    <div class="mx-2">
                        <button class="btn btn-transparent text-light border-0" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Login</button>
                        <button class="btn btn-transparent text-light border-0" data-bs-toggle="modal"
                            data-bs-target="#signupModal">Sign Up</button>
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <div style="margin-top: 145px; height: 80vh; background-color: #f0f0f0; ">

        <div style="margin-top:45px; text-align: center;">
            <h1 style="color: red;">Page Not Found.......</h1>
        </div>

    </div>


        <!-- our team member -->
        {{>team}}

        {{!-- footer --}}
        {{>footer}}

    <!-- java script -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>