<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About pFe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos&family=Noto+Serif:wght@700&family=Philosopher&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    {{>loginheader}}
    <!-- Right canvas (User Account) -->
    {{>rightcanvas}}


    <!-- Admin Login Modal -->
    <div class="modal fade" id="adminloginModal" tabindex="-1" aria-labelledby="adminloginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border: 2px solid #394dff;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="adminloginModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/adminlogin" method="post">
                        <img class="mb-4" src="/static/img/logo/logo.png" alt="" width="72" height="57">

                        <div class="form-floating my-3">
                            <input type="email" name="adminemail"class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" name="adminemail">Admin ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="password" class="form-control" name="adminpassword"id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword" name="adminpassword">Password</label>
                        </div>
                        <button class="w-10 btn btn-lg mb-3 forgot-pass" type="button">Forgot Password</button>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- about section -->
    <div class="container my-8">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">It all started to solve Police Force Engagement Problem.
                </h2>
                <p class="about-style">The availability and status of work assigned to police officers and personnel in
                    police
                    stations can now be easily
                    tracked and monitored through the use of digital tools and software. This allows for greater
                    transparency and
                    accountability in the police force, as well as more efficient allocation of resources and personnel.
                    With this system in
                    place, supervisors can easily check on the progress of tasks and assignments, and make adjustments
                    as necessary to
                    ensure that work is completed in a timely and effective manner.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
                    src="/static/img/about1.jpeg" alt="...">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading fw-normal lh-1">We solve this problem in this way.</h2>
                <p class="about-style">It is a digital online platform that tracks the availability of police officers
                    and
                    personnel, as well
                    as the status of their work
                    assignments, could greatly benefit police departments. This proposed solution could include a
                    centralized database for
                    duty schedules, assignments, and progress updates. With real-time updates, supervisors could monitor
                    progress and make
                    adjustments as necessary. Officers and personnel could view their assignments and update their
                    progress, improving the
                    efficiency and effectiveness of police operations. By enhancing transparency and accountability,
                    police departments
                    can provide better service to their communities and improve public safety.
                </p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
                    src="/static/img/about2.jpeg" alt="...">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">We started pFm in April, 2023 </h2>
                <p class="about-style">We have built this platform by participating in a hackathon competition in April
                    2023 in
                    which we will keep police officer's updated about their availability and duty or posting, work
                    assignment and their status, work progress, achievements of officers etc.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
                    src="/static/img/about3.jpeg" alt="...">
            </div>
        </div>
    </div>

    <!-- our team member -->
    {{>team}}

    {{!-- footer --}}
    {{>footer}}


    {{!-- javascript --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>