<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrator - Add Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/feedback_design.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos&family=Noto+Serif:wght@700&family=Philosopher&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    {{>loginheader}}

    <!-- Right canvas (User Account) -->
    {{>rightcanvas}}
    
    <!-- Admin Zone -->
    <div class="container my-8 d-flex justify-content-center align-items-center g-font2">
        <h1>Administrator Zone</h1>
    </div>

    <!-- Adding Employee -->
    <div class="container my-5 outer-look">
        <h2 class="g-font1 fs-1 my-2">Add Employee</h2>

        {{!-- <form action="/addData" method="post" class="row g-3 needs-validation" novalidate>

            <div class="col-md-6">
                <label for="firstname" name="empfirstname" class="form-label">First name</label>
                <input type="text" name="empfirstname" class="form-control input_design" id="firstname" required>
                <div class="valid-feedback">
                    Please Enter Valid First Name
                </div>
            </div>
            <div class="col-md-6">
                <label for="lastname" name="emplastname" class="form-label">Last name</label>
                <input type="text" name="emplastname" class="form-control input_design" id="lastname" required>
                <div class="valid-feedback">
                    Please Enter Valid Last Name
                </div>
            </div>
            <div class="col-md-6">
                <label for="mobilenumber" name="empmobilenumber" class="form-label">Mobile Number</label>
                <input type="text" name="empmobilenumber" class="form-control input_design" id="mobilenumber" required>
                <div class="valid-feedback">
                    Please Enter Valid Mobile Number
                </div>
            </div>
            <div class="col-md-6">
                <label for="email" name="empemail" class="form-label">Email</label>
                <input type="email" name="empemail" class="form-control input_design" id="email" required>
                <div class="invalid-feedback">
                    Please Enter Valid Email Address
                </div>
            </div>
            <div class="col-md-12">
                <label for="station" name="empstationname" class="form-label">Station Name</label>
                <input type="text" name="empstationname" class="form-control input_design" id="station" required>
                <div class="invalid-feedback">
                    Please Enter Valid Station Name
                </div>
            </div>
            <div class="col-md-6">
                <label for="joining" name="empjoiningdate" class="form-label">Joining Date</label>
                <input type="date" name="empjoiningdate" class="form-control input_design" id="joining" required>
                <div class="invalid-feedback">
                    Please Enter Valid Joining Date
                </div>
            </div>
            <div class="col-md-6">
                <label for="rank" name="emprank" class="form-label">Officer Rank</label>
                <input type="text" name="emprank" class="form-control input_design" id="rank" required>
                <div class="invalid-feedback">
                    Please Enter Valid Officer Rank
                </div>
            </div>
            <div class="col-md-4">
                <label for="city" name="empcity" class="form-label">City</label>
                <input type="text" name="empcity" class="form-control input_design" id="city" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-4">
                <label for="State" name="empstate" class="form-label">State</label>
                <input type="text" name="empstate" class="form-control input_design" id="city" required>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-4">
                <label for="zip" name="empzipcode" class="form-label">Zip Code</label>
                <input type="text" name="empzipcode" class="form-control input_design" id="zip" required>
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary px-5" type="submit">ADD</button>
            </div>
        </form> --}}
        <form class="row g-3 needs-validation" action="/addData" method="post" novalidate>

            <div class="col-md-6">
                <label for="firstname" class="form-label" name="FirstName">First name</label>
                <input type="text" class="form-control input_design" name="FirstName" id="firstname" required>
            </div>
            <div class="col-md-6">
                <label for="lastname" class="form-label" name="LastName">Last name</label>
                <input type="text" class="form-control input_design" id="lastname" name="LastName" required>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label" name="EmailId">Email</label>
                <input type="email" name="EmailId" class="form-control input_design" id="email" required>
            </div>
            <div class="col-md-6">
                <label for="mobilenumber" class="form-label" name="MobileNumber">Mobile Number</label>
                <input type="text" class="form-control input_design" id="mobilenumber" name="MobileNumber" required>
            </div>
            <div class="col-md-6">
                <label for="gender" class="form-label" name="Gender">Gender</label>
                <input type="text" class="form-control input_design" id="gender" name="Gender" required>
            </div>
            <div class="col-md-6">
                <label for="station" class="form-label" name="PoliceStation">Station Name</label>
                <input type="text" name="PoliceStation" class="form-control input_design" id="station" required>
            </div>
            <div class="col-md-4">
                <label for="city" name="City" class="form-label">City</label>
                <input type="text" name="City" class="form-control input_design" id="city" required>
            </div>
            <div class="col-md-4">
                <label for="state" class="form-label" name="State">State</label>
                <input type="text" class="form-control input_design" id="state" name="State" required>
            </div>
            <div class="col-md-4">
                <label for="zip" class="form-label" name="ZipCode">Zip Code</label>
                <input type="text" class="form-control input_design" id="zip" name="ZipCode" required>
            </div>

            <div class="col-md-4">
                <label for="allotment" class="form-label" name="Allotment">Allotment Year</label>
                <input type="text" class="form-control input_design" id="allotment" name="Allotment" required>
            </div>
            <div class="col-md-4">
                <label for="officer-status" class="form-label" name="Status">Officer Status</label>
                <input type="text" class="form-control input_design" id="officer-status" name="Status" required>
            </div>
            <div class="col-md-4">
                <label for="rank" class="form-label" name="Rank">Officer Rank</label>
                <input type="text" class="form-control input_design" id="rank" name="Rank" required>
            </div>
            <div class="col-md-6">
                <label for="transfer" class="form-label" name="Transfers">Transfer</label>
                <input type="text" class="form-control input_design" id="transfer" name="Transfers" required>
            </div>
            <div class="col-md-6">
                <label for="promotion" class="form-label" name="Promotion">Promotion</label>
                <input type="text" class="form-control input_design" id="promotion" name="Promotion" required>
            </div>
            <div class="col-md-6">
                <label for="AssignedWork" class="form-label" name="AssignedWork">Assigned Work</label>
                <input type="text" class="form-control input_design" id="AssignedWork" name="AssignedWork" required>
            </div>
            {{!-- <div class="col-md-12">
                <label for="assignment" class="form-label" name="AssignedWork">Assigned Work</label>
                <input type="text" class="form-control input_design" id="assignment" name="AssignedWork" required>
            </div> --}}
            <div class="col-md-4">
                <label for="startingTime" class="form-label" name="StartingTime">Starting Time</label>
                <input type="text" class="form-control input_design" id="startingTime" name="StartingTime" required>
            </div>
            <div class="col-md-4">
                <label for="endingTime" class="form-label" name="EndingTime">Ending Time</label>
                <input type="text" class="form-control input_design" id="endingTime" name="EndingTime" required>
            </div>
            <div class="col-md-4">
                <label for="date" class="form-label" name="Date">Work Assigned Date</label>
                <input type="date" class="form-control input_design" id="date" name="Date" required>
            </div>
            <div class="col-md-4">
                <label for="work-status" class="form-label" name="WorkStatus">Work Status</label>
                <input type="text" class="form-control input_design" id="work-status" name="WorkStatus" required>
            </div>
            <div class="col-md-4">
                <label for="location" class="form-label" name="Location">Assigned Zone</label>
                <input type="text" class="form-control input_design" id="location" name="Location" required>
            </div>
            <div class="col-md-4">
                <label for="CreateUserId" class="form-label" name="CreateUserId">CreateUserId</label>
                <input type="text" class="form-control input_design" id="CreateUserId" name="CreateUserId" required>
            </div>


            {{!-- <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="confirm-to-add" required>
                    <label class="form-check-label" for="invalidCheck">
                        Confirm to Add Employee
                    </label>
                    <div class="invalid-feedback">
                        You are not confirm to add employee data.
                    </div>
                </div>
            </div> --}}
            <div class="col-12">
                <button class="btn btn-primary px-5" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>

    <!-- our team member -->
    {{>team}}

    {{!-- footer --}}

    {{>footer}}

    {{!-- javascript --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>