<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Progress</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos&family=Noto+Serif:wght@700&family=Philosopher&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    {{>loginheader}}

    <!-- Right canvas (User Account) -->
    {{>rightcanvas}}

    <!-- Admin Login Modal -->
    <div class="modal fade" id="adminloginModal" tabindex="-1" aria-labelledby="adminloginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border: 2px solid #394dff;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="adminloginModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/adminlogin" method="post">
                        <img class="mb-4" src="/static/img/logo/logo.png" alt="" width="72" height="57">

                        <div class="form-floating my-3">
                            <input type="email" name="adminemail" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput" name="adminemail">Admin ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="password" class="form-control" name="adminpassword" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword" name="adminpassword">Password</label>
                        </div>
                        <button class="w-10 btn btn-lg mb-3 forgot-pass" type="button">Forgot Password</button>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Progress -->
    <div class="container text-center my-8 d-flex justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="/static/img/card3.png" class="card-img-top" alt="...">
        </div>
    </div>

    <!-- Progress Chart -->
    <div class="container d-flex align-items-center justify-content-center my-8">
        <canvas id="myChart" width="600" height="600" aria-label="chart" role="img""></canvas>
    </div>


    <div class="container my-2 d-flex justify-content-center align-items-center">
        <h1>Progress</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <p class="g-font2">The case given you to solve whether it is still in the working stage or has been completed, its data will be available here.</p>
    </div>

    {{!-- <div class="container d-flex justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <div class="card-header fs-2 fw-bold text-center g-font1">
                Case Name
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center fs-5">Case State</li>
            </ul>
        </div>
    </div> --}}
    <!-- our team member -->
    {{>team}}

    {{!-- footer --}}

    {{>footer}}

    <script src="/static/chart.js"></script>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

</html>