<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organizational Structure</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/structure_style.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos&family=Noto+Serif:wght@700&family=Philosopher&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    {{>loginheader}}

    <!-- Right canvas (User Account) -->
    {{>rightcanvas}}

    <!-- Admin Login Modal -->
    <div class="modal fade" id="adminloginModal" tabindex="-1" aria-labelledby="adminloginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border: 2px solid #394dff;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="adminloginModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/adminlogin" method="post">
                        <img class="mb-4" src="/static/img/logo/logo.png" alt="" width="72" height="57">

                        <div class="form-floating my-3">
                            <input type="email" name="adminemail" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput" name="adminemail">Admin ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="password" class="form-control" name="adminpassword" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword" name="adminpassword">Password</label>
                        </div>
                        <button class="w-10 btn btn-lg mb-3 forgot-pass" type="button">Forgot Password</button>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- structure description -->
    <div class="container my-7">
        <h1 class="g-font2">Organizational Structure</h1>
        <p class="structure-font-style">Madhya Pradesh Police is headed by Director General of Police. He is assisted by
            Additional Directors General
            of Police,
            who head various branches in Police Headquarters.

            Administration / Anusuchit Jati Janjati Kalyan / Complaints / Crime Investigation Department / Intelligence
            / Narcotics
            / Planning / Provision / Railway / State Crime Record Bureau / Special Armed Force / Telecommunication /
            Training / Fire
            Sevices / Special Operation / Selection / Cyber / Welfare / Women Safety Branch / Technical Service / STF /
            Police
            Reform / Community Policing / Anti Naxal Operation / ATS / Vigilance / Co-operative Fraud / Public Security
            / Public
            Service Guarantee/ R & D / Police Manual / Counter Intelligence / RTI / Fire Service / Traffic / PRTS Incore
            / MPPA /
            RAPTC / JNPA and PTRI.</p>
    </div>

    <!-- structure image -->
    <div class="container">
        <h1 class="g-font2">Headquarters and Support functions</h1>
        <div class="d-flex justify-content-center align-items-center">
            <img src="/static/img/oraganizational-structure/ORG-CHART-OF-MP-POLICE2_0.jpg" alt=""
                class="box img-structure" width="80%">
        </div>
    </div>

    {{!-- our Our-team-member --}}

    {{>team}}

    {{!-- footer --}}

    {{>footer}}
    <!-- java script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>